@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: pre;
    color: grey;
    @top-left {
        content: '© 2019 Onix-project.com';
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: 'Page ' counter(page);
    }
}

@media print {
    .md-container {
        display: block;
        padding-top: 0;
    }
    .md-main {
        display: block;
        height: inherit;
    }
    .md-main__inner {
        height: inherit;
        padding-top: 0;
    }
    .md-typeset .codehilitetable .linenos {
        display: none;
    }
    .md-typeset .footnote-ref {
        display: inline-block;
    }
    .md-typeset .admonition {
        display: block;
        border-top: .1rem solid rgba(0, 0, 0, .07);
        border-right: .1rem solid rgba(0, 0, 0, .07);
        border-bottom: .1rem solid rgba(0, 0, 0, .07);
        page-break-inside: avoid;
    }
    .md-typeset a::after {
        color: inherit;
        content: none;
    }
    .md-typeset table:not([class]) th {
        min-width: 0;
    }
    .md-typeset table {
        border: .1rem solid rgba(0, 0, 0, .07);
    }
}